# ===== Backend (Django / Python) =====
backend/venv/
backend/env/

backend/__pycache__/
backend/**/*.py[cod]

backend/*.sqlite3
backend/*.db
backend/db.sqlite3

# Environment files
backend/.env
backend/.env.*
backend/.envs/*
!backend/.envs/.env.example

backend/staticfiles/
backend/media/

backend/*.log

# ===== Frontend (React / Vite) =====
frontend/node_modules/
frontend/dist/
frontend/build/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ===== Global =====
__pycache__/
*.py[cod]
*.log

.env
.envs/*

.coverage
.pytest_cache/

tmp/
temp/
*.tmp

.vscode/
.idea/

*.swp
*.swo
.DS_Store
Thumbs.db
*.bak
*.backup