SECRET_KEY=""
DEBUG=""
ALLOWED_HOSTS=""

SITE_URL=""

# EMAIL
FROM_EMAIL=""
DEFAULT_FROM_EMAIL=""
SERVER_EMAIL=""
EMAIL_BACKEND=""

# STRIPE
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""

# PAYPAL
PAYPAL_CLIENT_ID=""
PAYPAL_SECRET_ID=""

# FLUTTERWAVE
FLUTTERWAVE_PUBLIC_KEY=""
FLUTTERWAVE_PRIVATE_KEY=""
FLUTTERWAVE_PRIVATE_KEY_LIVE=""
FLUTTERWAVE_ENCRYPTION_KEY=""

# FLUTTER / RAVE
RAVE_PUBLIC_KEY=""
RAVE_SECRET_KEY=""

# PAYSTACK
PAYSTACK_PUBLIC_KEY=""
PAYSTACK_PRIVATE_KEY=""

# ANYMAIL (MAILERSEND)
MAILERSEND_API_TOKEN=""